@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.card {
  width: 600px;
  height: 500px;
  padding: 2rem;
  border-radius: 10px;
  position: fixed;
}

.form-group {
  margin-bottom: 1.5rem;
}

form h2 {
  font-weight: 700;
  font-size: 48px;
}

.circle {
  width: 1351px;
  height: 1351px;
  background-color: #ff9e00;
  border-radius: 50%;
  position: fixed;
  top: 500px;
  left: 800px;
  z-index: -1;
}

.circle2 {
  width: 1351px;
  height: 1351px;
  background-color: #ff9e00;
  border-radius: 50%;
  position: fixed;
  top: -981px;
  left: -689px;
  z-index: -1;
}

img {
  position: fixed;
  bottom: 0;
  left: 20px;
}

.Logo {
  position: fixed;
  top: 0;
  left: 1135px;
}

.form-control {
  width: 530px;
  height: 53px;
  background-color: #d9d9d9;
}

::placeholder,
a {
  color: #3b3b3b;
}

.btn.btn-login {
  background-color: #ff9e00;
  width: 273px;
  height: 54px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
}

.btn.btn-login:hover {
  background-color: #ff9e00;
  border: none;
}

.account {
  color: #3b3b3b;
  font-weight: 400;
  font-size: 20px;
}
.SignUp {
  color: #50bfe2;
  font-weight: 400;
  font-size: 20px;
}
